<h1>User Details</h1>

<h4>
  Username: <%= @user.username %>
</h4>

<p>
  Experience: <%= @user.experience %>
</p>

<p>
  Credits Remaining: <%= @user.credits %>
</p>

<p>
  Administrator? <%= @user.admin %>
</p>